<h1>Login</h1>

{{#if err_msg}}
<p class="warning">{{ err_msg }}</p>
{{/if}}

{{#if msg}}
<p class="success">{{ msg }}</p>
{{/if}}

<!-- {{#if fromSignUp}}
<p>Validate your account thorough the link we've send you to your email account</p>
{{/if}} -->

<form action="/login" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" />

  <label for="password">Password: </label>
  <input type="password" name="password" id="password" />

  <button type="submit">Log In</button>
</form>
