<div class="content auth">
  <div class="form-container ice-bg">
    <h1 class="auth-title">Login</h1>

    {{#if err_msg}}
    <p class="warning">{{ err_msg }}</p>
    {{/if}}

    {{#if msg}}
    <p class="success">{{ msg }}</p>
    {{/if}}

    {{#if justSignedUp}}
    <p>
      {{ justSignedUp }}
    </p>
    {{/if}}

    <form class="form-container" action="/login" method="post">
      <label for="username">Username/Email: </label>
      <input class="form-input" type="text" name="username" id="username" />

      <label for="password">Password: </label>
      <input class="form-input" type="password" name="password" id="password" />

      <button class="form-button" type="submit">Log In</button>
    </form>
  </div>
</div>
