<div class="content auth">
  <div class="form-container ice-bg">
    <h1 class="auth-title">Edit!</h1>

    {{#if err_msg}}
    <p class="warning">{{ err_msg }}</p>
    {{/if}}

    {{#if msg}}
    <p class="success">{{ msg }}</p>
    {{/if}}
    <form class="form-container" method="POST" action="/password">
      <label for="password">Password: </label>
      <input
        class="form-input"
        type="password"
        name="password"
        id="password"
        pattern="(^(?=.*[0-9])(?=.*[|<>!@%+'!#$^?:.(){}[\]+~\-_.])[a-zA-Z0-9|<>!@%+'!#$^?:.(){}[\]+~\-_.]{8,30}$)"
        title="The password must be between 8 and 30 characters long and contain a number and a special character(|<>!@%+'!#$^?:.(){}[]+~-_.)"
        required
      />

      <label for="password2">Type your Password again: </label>
      <input
        class="form-input"
        type="password"
        name="password2"
        id="password2"
        pattern="(^(?=.*[0-9])(?=.*[|<>!@%+'!#$^?:.(){}[\]+~\-_.])[a-zA-Z0-9|<>!@%+'!#$^?:.(){}[\]+~\-_.]{8,30}$)"
        title="The password must be between 8 and 30 characters long and contain a number and a special character(|<>!@%+'!#$^?:.(){}[]+~-_.)"
        required
      />

      <button class="form-button" type="submit">Sign Up</button>
    </form>
  </div>
</div>
