<nav>
  <div class="home">
    <a href="/">
      <div class="home-icon">
        <img src="/images/home.png" alt="Home" height="30px" />
      </div>
    </a>
  </div>
  <div class="nav">
    {{#if user}}
    <a href="/logout">Log Out</a>
    <a href="/profile">
      <img class="profile-logo" src="{{ user.avatar.path }}" alt="profile" />
    </a>
    {{else}}
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
    {{/if}}
  </div>
</nav>
