<h1>Hello, {{ user.username }}, you're logged in!</h1>

<img class="profile-pic" src="{{ user.avatar }}" alt="" />

<form action="/new-pic" method="post" enctype="multipart/form-data">
  <label for="pic">Upload new avatar pic: </label>
  <input type="file" name="pic" id="pic" />
</form>

<a href="/">
  <button>Back to Map</button>
</a>
