* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 50px 0 0;
  font: 16px 'Roboto', Helvetica, Arial, sans-serif;
  background: #179292;
  color: white;
}

h1 {
  font-size: 3em;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

.warning {
  color: red;
}

.success {
  color: green;
}

.content {
  padding: 20px;
}
