.profile-pic {
  border-radius: 50%;
}

header {
  color: #fff;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.title {
  margin-top: 10px;
  margin-bottom: 0px;
}

.subtitle {
  margin-top: 5px;
}
