body {
  margin: 0px;
  padding: 0px;
  font: 16px 'Roboto', Helvetica, Arial, sans-serif;
}

a,
a:visited {
  color: #00b7ff;
  text-decoration: none;
}

h1 {
  color: 15px;
}

.warning {
  color: red;
}

.success {
  color: green;
}

.navbar {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  margin: 10px 30px;
}
